<ion-view view-title="Choix du parcours">
	<ion-content>

		<button class="button button-clear button-dark" ng-click="parcoursPrecedent()">
			<i class="icon ion-chevron-left"></i>
		</button>
		<button class="button button-clear button-dark" ng-click="parcoursSuivant()">
			<i class="icon ion-chevron-right"></i>
		</button>

		<div class="padding">
			<p>{{parcoursId+1}}/{{parcoursListe.parcours.length}}</p>	
		</div>

		

		<ion-slide-box on-slide-changed="slideHasChanged($index)">
			<ion-slide ng-repeat="parcours in parcoursListe.parcours">
				<div class="box blue">
					<div class="card">
			  			<div class="item">
			    				<p>De <span style="font-weight:bold">{{parcours.depart}}</span></p>
			  			</div>
					  	
					  	<div class="item item-text-wrap">
					    		<p>à {{parcours.arrivee}}</p>
					  	</div>
					  	<div class="item">
					    		<p>{{parcours.distance}} km</p>
						</div>
					</div>
				</div>
			</ion-slide>
		</ion-slide-box>

		<button class="button button-full button-balanced">
  			C'est parti ! <span style="font-size:0.5em">mon kiki</span>
		</button>
	</ion-content>
</ion-view>
