<ion-view view-title="Suivi du parcours">

	

	<ion-content>
		<!-- <div class="content">
			<p>IHM 3 : {{parcoursId}}</p>
			<p>{{depart}}</p>
			<p>{{arrivee}}</p>
			<p>{{distance}}</p>
		</div> -->

		<!-- Map avec la solution -->

	     <div id="map" data-tap-disabled="true" style="width: 100%; height: 300px;"></div>


		<!-- Informations en dessous de la map -->
		<div class="box blue">
			<div class="card">
	  			<div class="item">
	    			<p>Distante restante : <span style="font-weight:bold">{{distance}}</span> km</p>
	  			</div>
			  	
			  	<div class="item">
		    		<p>Temps : {{parcours.arrivee}}</p>
		    		<button class="button button-clear button-dark" ng-click="switchPlayPause()">
						<i class="icon {{iconPlayPause}}"></i>
					</button>
					<p ng-bind="timer | date:'HH:mm:ss'"></p>
			  	</div>
			</div>
		</div>  
		
		<!-- Bouton du bas -->
		<a href="#/app/courir/fin-parcours" style="text-decoration:none;">
			<button class="button button-full button-balanced">
	  			Terminer
			</button>
		</a>
	</ion-content>
</ion-view>
